-extends "template.haml"
-block section "index"
-block hero
  %article.lead
    .lead-text
      .date= "July 9-27"
      %h2= "Let's build something fun this summer."
      %p
        Make this a great summer with interesting online workshops, speakers, code help, and mentoring to help you
        build an ambitious project.
-block content
  .details
    %p.lead Work with students across the world to build something fun.
    .info
      %p
        Nothing to do this summer? Work alongside students across the US to build an app or game of your own design.
        All students are welcome, even if you just started coding.
      %p
        CodeLabs is 100% online. You can participate anywhere in North/Central America, and can work alone or with a group of
        friends.

    .what
      %h2 What Happens During CodeLabs
      %img(src="/assets/img/project.png")
      %ul
        %li
          %strong Build Something Awesome
          Like CodeDay, the core of CodeLabs is about bringing your ideas to life.
        %li
          %strong Mentorship
          You'll be matched with your own mentor to help you complete your project, and to learn more about working
          in technology.
        %li
          %strong Real-Time Coding Help
          Get live coding help from our staff and volunteers whenever you need it through a 24/7 chat,
          and through regular office hours.
        %li 
          %strong Tech Talks
          Join us for online workshops where we dive deep into modern technologies.

    .workshops
      %h2 Workshops
      %p
        Attendees will have access to the following hands-on workshops. Additional workshops will be added to match the
        interests of attendees expressed in the registration survey.
      %ul
        %li Introduction to Electronics
        %li Schematics, Layout, and Manufacturing Electronics Projects
        %li Introduction to Databases
        %li Android Development Basics
        %li Making Games with Unity
        %li React, GraphQL, and Gatsby
        %li UI/UX
        %li Getting an Internship
        %li Web Servers
        %li Docker
        %li Microservices
         

  .sidebar
    .dates
      .date
        .month= "July"
        .day= "9"
      .thru= "to"
      .date
        .month= "July"
        .day= "27"

    .deadlines
      %ul
        %li Early registration ends June 14
        %li Late registration ends July 1

    %a.apply(href="/register")
      .cta= "Register Now"
      .deadline= "$12"
    %a.scholarship(href="mailto:contact@srnd.org")= "Email for scholarships"
