!!! 5
%html
  %head
    -if block('title')
      %title= "#{block('title')} ~ CodeLabs"
    -else
      %title= "CodeLabs"

    %link(rel="stylesheet" href="/assets/css/style.css?v=#{version}")
    %link(rel="icon" type="image/png" href="/assets/img/favicon.png?v=#{version}")

  %body(class="#{block('section')}")
    %header.with-hero
      .wrap
        .wrap-inner
          %section.site-title
            %h1
              %a(href="/")= "CodeLabs"
            %a(href="https://srnd.org/") by srnd.org
          %nav
            %ul
              %li
                %a(href="/")= "Info"
              %li
                %a(href="/register")= "Register"

    .hero
      .wrap
        .wrap-inner #{block('hero')}

      
    .wrap
      %section.content #{block('content')}

    %footer
      .wrap
        .wrap-inner
          .copyright
            &copy; 2016-#{ null|date('Y') } <a href="https://srnd.org/">srnd.org</a>.
          .contact
            %a(href="mailto:contact@srnd.org") contact@srnd.org<br />

    %script(src="https://use.typekit.net/wck5lid.js")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
